/* General UI Styling */


.container {
	margin-top: 20px;
}

.history-panel {
	margin-top: 20px;
}

.properties-panel {
	margin-left: 20px;
}

.properties-table {
	margin-top: 20px;
}

.properties-column {
	max-width: 170px;
	word-wrap: break-word;
}

#chart {
	border: 1px solid grey;
	min-height: 700px;

}

.error-alert {
	display:none;
}

/* Topology Panel Canvas Styling */

circle.contour {
	fill-opacity:0.02;
}


circle.node {
	fill:steelblue;
}

circle.node:hover {
	fill:#9999ff;
}


circle.node.selected {
	fill:#aa88ff;
	stroke:red; 
	stroke-width:8px;
}

circle.node.selected:hover {
	fill:#aa88ff;
	stroke:red; 
	stroke-width:12px;
}