/* General UI Styling */


.container {
	margin-top: 20px;
}

#chart {
	border: 1px solid grey;
	min-height: 600px;

}

.error-alert {
	display:none;
}

/* Topology Panel Canvas Styling */

circle {
	fill:steelblue;
}

circle:hover {
	fill:#9999ff;
}

circle.selected {
	fill:#ddddff;
}